html{
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}
body{
    font-family: "Avenir-Light", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
}
.container{
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
#title{
    margin: 50px 0 32px 0;
}
#title h1{
    font-size: 45px;
    padding: 0;
    text-align: center;
}
.selector-container{
    margin: auto;
    width: 50%;
    text-align: center;
}
/*select{
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none
}
.select-style select:focus {
    outline: none;
}*/

select.selection-box, select#selection-boxw-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select.selection-box-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}
