html{
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}
body{
    font-family: "Avenir-Light", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
}
.container{
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
#title{
    margin: 50px 0 32px 0;
}
#title h1{
    font-size: 45px;
    padding: 0;
    text-align: center;
}
.selector-container{
    margin: auto;
    width: 50%;
    text-align: center;
}

select.selection-box {  
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   /* If image url is broken, remove url and -webkit-appearance: button; to fix */
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select.selection-box:disabled {
  color: #a9a9a9;
  font-style: italic;
}

button {
  background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #555;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
  margin: 20px;
}

button:disabled {
  color: #a9a9a9;
  font-style: italic;
}
