<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pocket Directory</title>
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <div id="title">
            <h1>Animal Crossing Pocket Directory</h1>
        </div>
        <div class="selector-container">
            <select id="category-selector" class="selection-box" onchange="buildFilters(this.options[this.selectedIndex].value, {{filters}} )">
                <option>Select a Category</option>
                {% for category in categories %}
                    <option value="{{categories[category]}}">{{category}}</option>
                {% endfor %}
            </select>
            <select disabled id="filter-selector" class="selection-box" onchange="changeButtonStatus(this.options[this.selectedIndex].value)">
                <option>Select a Filter</option>
            </select>
            <br>
            <button disabled id="button">Get List</button>
        </div>
        <div class="container">
            {% block results %}{% endblock %}
        </div>
    </div>
</body>

</html>
